.jumbotron > .txt1 {
  font-size: 40px;
  color: rgb(31, 82, 158);
}

.section-menu {
  padding: 50px 35px 35px 35px;
}

/* section-img */
.section-menu > .card > img {
  height: 100px;
  width: 250px;
}

/* section menu */
.txt-font {
  color: #01579B;
  font-weight: bold;
}

/* person-info */
.person-info1, .person-info2 {
  display: none;
  padding: 50px 50px 50px 30px;
}
