/* section-info */
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.non-line > a {
  text-decoration-line: none;
  text-decoration-color: none;
}

.section-info, #carouselExampleIndicators {
  width: 1000px;
  margin: auto;
}

.card-columns {
  margin-top: 50px;
}
